---
import BaseLayout from "../layouts/BaseLayout.astro";
import ProductCard from "../components/ProductCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug";

const courses = await getCollection("courses");
---

<BaseLayout sideBarActiveItemID="courses">
  <div class="pb-12 mt-5">
    <h1 class="text-4xl font-bold mb-6">Cursos y bootcamps</h1>

    <p class="text-lg mb-8">
      Formación práctica y directa para aprender a trabajar con <strong>ERPNext</strong>
      y sus herramientas relacionadas.
    </p>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      {
        courses.map((course) => (
          <ProductCard
            title={course.data.title}
            description={course.data.description}
            price={course.data.price ?? ""}
            img={course.data.image}
            slug={"courses/" + createSlug(course.data.title, course.slug)}
            badgeImage={course.data.badgeImage ?? ""}
          />
        ))
      }
    </div>
  </div>
</BaseLayout>
