---
import BaseLayout from "../layouts/BaseLayout.astro";
import ProductCard from "../components/ProductCard.astro";
---

<BaseLayout sideBarActiveItemID="cursos">
  <div class="pb-12 mt-5">
    <h1 class="text-4xl font-bold mb-6">Cursos y bootcamps</h1>

    <p class="text-lg mb-8">
      Formación práctica y directa para aprender a trabajar con <strong
        >ERPNext</strong
      > y sus herramientas relacionadas.
    </p>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <ProductCard
        title="Bootcamp ERPNext (agosto 2025)"
        description="Curso intensivo de 3 sesiones online para aprender a extender ERPNext desde cero. Instalación, apps, scripts, hooks, multitenancy y más."
        price="50 €"
        img="/assets/images/courses/bootcamp-erpnext/portada.webp"
        slug="courses/bootcamp-erpnext--agosto-2025"
        badgeImage="/assets/images/new_badge.png"
      />

      <ProductCard
        title="Curso de Contabilidad Básica Aplicada a ERPNext"
        description="Curso práctico para entender los principios de contabilidad y cómo se aplican directamente en ERPNext. Ideal para emprendedores y administradores."
        price="Gratis"
        img="/assets/images/projects/curso-contabilidad-erpnext/portada.webp"
        slug="courses/curso-de-contabilidad-basica-aplicada-a-erpnext"
        badgeImage=""
      />
    </div>
  </div>
</BaseLayout>
